:host::ng-deep {
    display: block;

    word-break: break-word;
    padding: 0.1rem;

    .message,.sender-email  {
        display: flex;
    }

    .message.sent, .sender-email.sent {
        justify-content: flex-end;
    }

    .message .content {
        max-width: 180px;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 1.4;
    }

    .message.sent .content {
        background-color: #0078d7;
        color: white;
    }

    .message.received .content {
        background-color: #e5e5ea;
        color: #333;
    }



    .message-container {
        position: relative;
      }
      
      .message {
        overflow: hidden;
        transition: max-height 0.3s ease;
      }
      
      .expand-btn {
        background: none;
        border: none;
        color: blue;
        cursor: pointer;
        padding: 0;
        margin: 5px 0;
        text-align: left;
      }
}
