<p-card class="flex flex-column	min-w-full">
    <p-header>
        <p-button 
            icon="pi pi-trash " 
            [rounded]="true" 
            [text]="true"
            size="small" 
            (onClick)="removeChatRoom()"
        />
    </p-header>
    <div class="flex flex-wrap gap-4 m-3 min-h-full">
        <app-chat 
        class='max-w-30rem'
        *ngFor="let member of chatRoom().members" 
        [member]="member" 
        (sendMessage)="sendMessage($event, member)"
        (memberLeavesChat)="memberLeavesChat(member)"
        />
    
        <div class=" gap-3 align-items-center">
            @if (availableUsersToAdd().length) {
                <p-select 
                    [options]="availableUsersToAdd()"
                    [formControl]="addMemberControl"
                    [loading]="chatRoomsStore.isLoading()"
                    optionLabel="email" 
                    placeholder="Add a participant to the conversation" 
                    class="w-full md:w-56" 
                />
            } @else {
                <span>No user to add. You can logout and create another user to test the chat feature.</span>
            }
        </div>
    </div>

    <p-button (onClick)="getMessagesForChatroom()">getMessagesForChatroom</p-button>
</p-card>
