<p-card [styleClass]="'min-w-full	'" [header]="editorMode === 'create-book' ? 'Add a book' : 'Update book' ">

    <div class="flex flex-column gap-1 mb-3 flex-grow-1">

        Prefill with google book
        <p-autoComplete 
            [formControl]="googleBookControl"
            [suggestions]="filteredBooks" 
            [style]="{'width':'100%'}" 
            [inputStyle]="{'width': '100%'}"
            [showClear]="true"
            field="volumeInfo.title" 
            placeholder="Search book"
            (onSelect)="setupBookFromGoogle($event.value)"
        >
            <ng-template let-book pTemplate="item">
                <div class="min-w-full">{{ book.volumeInfo.title }}</div>
            </ng-template>
        </p-autoComplete>
    </div>
    <p-divider />
    <form class="flex flex-column gap-3 w-20rem" [formGroup]="bookForm">
        <div class="flex flex-column gap-1">
            <label for="title">Title</label>
            <input 
                id="title"
                formControlName="title"
                placeholder="Title"
                pInputText 
            />    
        </div>

        <div class="flex flex-column gap-1 authors">
            <label for="authors">Authors:</label>
            <div formArrayName="authors" class=" flex flex-column gap-1">
                @for (author of authors.controls; track $index; let i = $index) {
                    <div class="flex flex-row align-items-center gap-2">
                        <div class="flex flex-column">
                            <input id="author{{i}}" [formControlName]="i" pInputText placeholder="Author's name">
                        </div>     
                        <p-button 
                            icon="pi pi-minus" 
                            [rounded]="true" 
                            size="small" 
                            [outlined]="true" 
                            (click)="removeAuthor(i)" 
                            *ngIf="i > 0 || authors.length > 1" 
                        />
                        <p-button 
                            icon="pi pi-plus"
                            [rounded]="true" 
                            size="small" 
                            [outlined]="true" 
                            (click)="addAuthor()"
                            *ngIf="i === authors.length -1"
                        />
                    </div>
                }
            </div>
        </div>
        
        <div class="flex flex-column gap-1">
            <label for="publishedDate">Publication date</label>
            <p-calendar 
                formControlName="publishedDate"
                view="year" 
                placeholder="Publication date"
                dateFormat="yy" 
        />
        </div>

        <div class="flex gap-3 align-items-center">
            <p-button [label]="editorMode === 'create-book' ? 'Add book' : 'Update book' " (onClick)="submitBook()"/>
            <p-button label="Back to books"  [size]="'small'" [routerLink]="'/books'" />
        </div>
        
    </form>
</p-card>