

<div 
    class="chat-header pl-3 pr-1 flex justify-content-between align-items-center"
>
    <div class="unviewed-messages-number-badge" 
        *ngIf="unviewedMessages() > 0" 
        pBadge  
        [value]="unviewedMessages()"
        >
    </div>

    <div class="user flex flex-row">
        <p-button 
        size="small"
        class="name"
        [severity]="'secondary'"
        (onClick)="toggleChatroomFold()"
        >
            {{chatMembersMails}}
        </p-button>

        <div class="typing-indicator flex flex-row align-items-center justify-content-center">
            <ng-container  *ngIf="(typingUsers.length === 1)">
                <span></span>
                <span></span>
                <span></span>
            </ng-container>
        </div>
    </div>
    <div class="flex flex-row gap-1 action-buttons">
        <p-button 
            [text]="true"
            [outlined]="true"  
            size="small"
            icon="pi {{chatRoomUnfold() ? 'pi-chevron-down' : 'pi-chevron-up'}}" 
            (onClick)="toggleChatroomFold()"
        />
        <p-button icon="pi pi-times"
            [text]="true"
            [outlined]="true"
            size="small"  
            (onClick)="desactivateChatRoom()" 
        />
    </div> 
</div>
<div class="chat-messages flex flex-column">

    <cdk-virtual-scroll-viewport #messagesViewport
        appendOnly
        [minBufferPx]="500" 
        [maxBufferPx]="1000" 
        [itemSize]="40"
        class="messages-viewport p-1 gap-1" 
        >
        <div class="flex align-items-center justify-content-center" *ngIf="loadingMessages">
            <p-progress-spinner  ariaLabel="loading" />
        </div>

        @for (message of filteredMessages; track $index) {
            <app-chat-message
            appVisibilityObserver
            [visibilityObsoptions]="{ threshold: 0.8 }"
            [maxHeight]="160"
            [messageInput]="message"
            (visibilityChange)="messageVisibilityChangedEvent(message, $event)"
        />
        }
    </cdk-virtual-scroll-viewport>
</div>


<div class="new-messages-tooltip flex align-items-center justify-content-center" *ngIf="unviewedMessages() > 0">
     <p-button icon="pi pi-arrow-down" size="small" label="New messages" (onClick)="scrollToLastMessage('smooth')" [badge]="unviewedMessages().toString()" />
</div>

<div class="chat-input flex flex-row align-items-center">
    <input 
        #messageInput
        pSize="small" 
        pInputText             
        [formControl]="messageContent"
        placeholder="Type your message..."
        (keyup.enter)="sendMessage()"

        >
    <p-button 
        icon="pi pi-send"
        size="small" 
        [outlined]="false" 
        [rounded]="false" 
        [text]="true"
        [disabled]="!messageContent.value"
        (click)="sendMessage()"
    />
</div>
