<p-card [styleClass]="'min-w-full'" >
    <p-card [styleClass]="''" >
        dd
    </p-card>
    <p-footer>
        <input pInputText             [formControl]="messageContent"
        placeholder="Type your message...">
        <p-button 
            icon="pi pi-send"
            [rounded]="true" 
            size="small" 
            [outlined]="true" 
            [disabled]="!messageContent.value"
            (click)="sendMessage()"
        />
        messageContent.value: {{messageContent.value}}
    </p-footer>
    <p-button (onClick)="testChat()">test chat</p-button>
</p-card>