/* General :host styles */
:host::ng-deep {
  --chat-messages-height: 18rem;
  display: block;
  position: relative;

  /* Minimalist Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-track:hover {
    background: #e0e0e0;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  /* Firefox Scrollbar Styles */
  * {
    scrollbar-width: thin;
    scrollbar-color: #aaa #f0f0f0;
  }

  /* Chat Header Styles */
  .chat-header {
    font-size: 18px;
    height: 3rem;

    .user {
      font-size: x-small;
    }

    .p-button {
      height: 1.5rem;
      width: 2rem;
    }
  }

  /* Chat Messages Styles */
  .chat-messages {
    background-color: #f9f9f9;
    border-radius: 1rem 1rem 0 0;
    height: var(--chat-messages-height);

    .messages-viewport {
      height: 100%;

      app-chat-message {
        min-height: 50;
      }

      .cdk-virtual-scroll-spacer {
        display: none;
      }
    }
    // p-virtualscroller {
    //   flex: 1;
    //   overflow-y: auto;

    //   .p-virtualscroller-content {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 0.1rem !important;
    //     padding: 0.2rem; 
    //   }
    // }
  }

  /* Typing Message Styles */
  .typing-message {
    min-height: 1.5rem;
    font-size: x-small;
    color: var(--p-primary-contrast-color);
    top: var(--chat-messages-height);
  }

  /* New Messages Tooltip */
  .new-messages-tooltip {
    position: absolute;
    width: 100%;
    opacity: 0.8;
    top: var(--chat-messages-height);
  }

  /* Chat Input Container */
  .chat-input {
    padding: 0;
  }
}

/* Chat Input Field Styles */
.chat-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Chat Input Button Styles */
.chat-input button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.chat-input button:hover {
  background-color: #005bb5;
}
