<p-card>
    <!-- <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!

        <span class="typing-message">is typing</span>
    </p> -->
    <ng-template pTemplate="footer" class="flex-row align-content-center gap-3">
        <input 
            pSize="small" 
            class="mr-2"
            pInputText             
            [formControl]="messageContent"
            placeholder="Type your message...">
        <p-button 
            icon="pi pi-send"
            size="small" 
            [loading]="isSendingMessage()"
            [outlined]="false" 
            [rounded]="false" 
            [text]="true"
            [disabled]="!messageContent.value"
            (click)="sendMessage.emit(messageContent.value)"
        />
        <!-- messageContent.value: {{messageContent.value}} -->
    </ng-template>

</p-card>
<div class="flex flex-row justify-content-between gap-6 mt-2 user-infos">
    <span class="user mt-2">connected as {{member().email}}</span>
    <p-button 
        *ngIf="currentUser()?.email !== member()?.email" 
        icon="pi pi-sign-out" 
        aria-label="Save" 
        (click)="memberLeavesChat.emit(this.member())" 
        [loading]="isLoading()"
        size="small" 
    />
</div>