<div class="search" [formGroup]="bookForm">

      <p-autoComplete 
      formControlName="bookSearchInput"
      [suggestions]="filteredBooks" 
      field="volumeInfo.title" 
      placeholder="Search book"
      (onSelect)="selectedBook = $any($event.value)"
      >
          <ng-template let-book pTemplate="item">
              <div>{{ book.volumeInfo.title }}</div>
          </ng-template>
      </p-autoComplete>

  </div>
  <div *ngIf="selectedBook">
    <span>Title : {{ selectedBook.volumeInfo.title}}</span>
    <div>Author(s) :
        @for (author of selectedBook.volumeInfo.authors; track $index) {
            <span>{{author}}</span>
        }
    </div>
    <p-button (click)="saveBookIntoLibrary()">Add</p-button>
  </div>